<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="cart">
	<insert id="insertCart">
		INSERT INTO tbl_cart(
			cart_id, user_id, product_id, amount
		) VALUES(
			seq_cart.NEXTVAL, #{userId}, #{productId}, #{amount}
		)
	</insert>
	
	<select id="listCart" resultType="org.dsu.dc.domain.CartVO">
		SELECT
			c.cart_id AS cartId,
			c.user_id AS userId,
			p.product_id AS productId,
			m.user_name AS userName,
			p.product_name AS productName,
			c.amount,
			p.product_price AS productPrice,
			(product_price * amount) money
		FROM
			tbl_member m,tbl_product p, tbl_cart c
		WHERE m.user_id = c.user_id
			AND p.product_id = c.product_id
			AND c.user_id = #{userId}
		ORDER BY
			c.cart_id
	</select>
	
	<select id="sumMoney" resultType="int">
		SELECT NVL(SUM(product_price * amount), 0) money
		FROM tbl_cart c, tbl_product p
		WHERE c.product_id = p.product_id AND c.user_id = #{userId}
	</select>
	
	<update id="modifyCart">
		UPDATE tbl_cart
		SET amount = #{amount}
		WHERE user_id = #{userId}
		AND product_id = #{productId}
	</update>
	
	<delete id="deleteCart">
		DELETE * FROM tbl_cart
		WHERE cart_id = #{cartId}
	</delete>
	
	<select id="countCart" resultType="int">
		SELECT COUNT(*)
		FROM tbl_cart
		WHERE user_id = #{userId}
		AND product_id = #{productId}
	</select>
	
	<update id="updateCart">
		UPDATE tbl_cart
		SET amount = amount + #{amount}
		WHERE user_id = #{userId}
		AND product_id = #{productId}
	</update>
</mapper>